body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    45deg,
    #f8f6e3,
    #97e7e1,
    #6ad4dd,
    #7aa2e3,
    #756ab6,
    #ac87c5,
    #e0aed0,
    #ffe5e5
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.container {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #9ab2ff, #1881f8);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  /* background: linear-gradient(135deg, rgb(150, 150, 255), rgb(202, 202, 253) */
}

h1 {
  color: white;
}

h3 {
  color: white;
}

.word {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

input[type="text"] {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
